// jquery
script(src="../assets/js/vendors/jquery/jquery.min.js")
// bootstrap js
script(src='../assets/js/vendors/bootstrap/dist/js/bootstrap.bundle.min.js' defer='')
script(src='../assets/js/vendors/bootstrap/dist/js/popper.min.js' defer='')
//fontawesome
script(src='../assets/js/vendors/font-awesome/fontawesome-min.js')
if feather 
    // feather
    script(src='../assets/js/vendors/feather-icon/feather.min.js')
    script(src='../assets/js/vendors/feather-icon/custom-script.js')
if sidebar
    // sidebar 
    script(src='../assets/js/sidebar.js')
if print
    //print
    script(src='../assets/js/print.js')
if height_equal
    // height_equal
    script(src='../assets/js/height-equal.js')
if popover 
    // popover 
    script(src="../assets/js/popover.js")
if tooltip 
    // tooltip
    script(src="../assets/js/tooltip.js")
if tooltip1
    // tooltip1
    script(src='../assets/js/select2/tooltip-init.js')
if select2
    // select2
    script(src='../assets/js/select2/select2.full.min.js')
if page_select2
    // page_select2
    script(src='../assets/js/select2/select2-custom.js')
if form_validation_custom
    // form_validation_custom
    script(src='../assets/js/form-validation-custom.js')
if bookmark_page
    // bookmark_page
    script(src='../assets/js/bookmark/jquery.validate.min.js')
    script(src='../assets/js/bookmark/custom.js')
if modal
    // modal
    script(src="../assets/js/modal.js")
if alert
    // alert
    script(src="../assets/js/alert.js")
if config
    // config
    script(src='../assets/js/config.js')
if apex
    // apex
    script(src='../assets/js/chart/apex-chart/apex-chart.js')
    script(src='../assets/js/chart/apex-chart/stock-prices.js')
if apex_widget
    // apex_widget
    script(src='../assets/js/chart/apex-chart/moment.min.js')
if page_apex
    // page_apex
    script(src='../assets/js/chart/apex-chart/chart-custom.js')
if toasts 
    // toasts
    script(src="../assets/js/toasts-custom.js")
if rating 
    // rating
    script(src="../assets/js/rating-custom.js")
if sweetalert
    // Sweetalert js
    script(src='../assets/js/sweetalert/sweetalert2.min.js')
    script(src='../assets/js/sweetalert/sweetalert-custom.js')
if sweetalert2
    // sweetalert2
    script(src='../assets/js/sweetalert/sweetalert.min.js')
if notify
    // notify
    script(src='../assets/js/notify/bootstrap-notify.min.js')
if contact_page
    // contact_page
    script(src='../assets/js/bookmark/jquery.validate.min.js')
    script(src='../assets/js/contacts/custom.js')
if draggable_page 
    // Draggable js
    script(src='../assets/js/vendors/sortablejs/sortable.min.js')
    script(src='../assets/js/draggable-custom.js')
if jquery_ui
    // jquery-ui
    script(src='../assets/js/dragable/jquery-ui.min.js')
if datamaps
    // Datamap js
    script(src='../assets/js/vendors/datamaps/src/js/components/d3/d3.min.js')
    script(src='../assets/js/vendors/datamaps/src/js/components/topojson/topojson.js')
    script(src='../assets/js/vendors/datamaps/dist/datamaps.world.min.js')
    script(src='../assets/js/datamap-custom.js')
if timeLine
    // timeline 
    script(src='../assets/js/timeline/timeline.js')
if modernizr
    //modernizr
    script(src='../assets/js/timeline/modernizr.js')
if dropzone
    // dropzone
    script(src='../assets/js/dropzone/dropzone.js')
    script(src='../assets/js/dropzone/dropzone-script.js')
if jkanban
    // jkanban
    script(src='../assets/js/jkanban/jkanban.js')
    script(src='../assets/js/jkanban/custom.js')
if filepond 
    // filepond 
    script(src='../assets/js/filepond/filepond-plugin-image-preview.js')
    script(src='../assets/js/filepond/filepond-plugin-file-rename.js')
    script(src='../assets/js/filepond/filepond-plugin-image-transform.js')
    script(src='../assets/js/filepond/filepond.js')
    script(src='../assets/js/filepond/custom-filepond.js')
if range 
    // range
    script(src='../assets/js/range/rangeslider.nostyle.umd.min.js')
    script(src='../assets/js/range/rangeslider.umd.min.js')
    script(src='../assets/js/range/range-custom.js')
if scrollpage
    script(src='../assets/js/scrollable/perfect-scrollbar.min.js')
    script(src='../assets/js/scrollable/scrollable-custom.js')
if scrollbar
    // scrollbar
    script(src='../assets/js/scrollbar/simplebar.js')
    script(src='../assets/js/scrollbar/custom.js')
if choice
    // choice
    script(src='../assets/js/vendors/choices.js/public/assets/scripts/choices.js')
if slick 
    // slick
    script(src='../assets/js/slick/slick.min.js')
    script(src='../assets/js/slick/slick.js')
if landing_slider
    // landing_slider
    script(src='../assets/js/landing-slick.js')
if header_slider
    // header_slider
    script(src='../assets/js/header-slick.js')
if tree
    // Tree js
    script(src='../assets/js/tree/tree.js')
    script(src='../assets/js/tree/tree.min.js')
    script(src='../assets/js/tree/tree-custom.js')
if form_validation_custom
    // form validation 
    script(src='../assets/js/form-validation-custom.js')
if input_mask
    // input mask 
    script(src='../assets/js/cleave/cleave.min.js')
    script(src='../assets/js/cleave/custom-cleave.js')
if date_picker
    // date picker
    script(src='../assets/js/datepicker/date-picker/datepicker.js')
    script(src='../assets/js/datepicker/date-picker/datepicker.en.js')
    script(src='../assets/js/datepicker/date-picker/datepicker.custom.js')
if react
    // react
    script(src='../assets/js/vendors/react/umd/react.production.min.js')
    script(src='../assets/js/vendors/react-dom/umd/react-dom.production.min.js')
if flatpickr
    // flatpicker
    script(src='../assets/js/flat-pickr/flatpickr.js')
    script(src='../assets/js/flat-pickr/custom-flatpickr.js')
if select2_options 
    // select2_options
    script(src='../assets/js/vendors/@yaireo/tagify/dist/tagify.js')
    script(src='../assets/js/vendors/@yaireo/tagify/dist/tagify.polyfills.min.js')
    script(src='../assets/js/vendors/@yaireo/tagify/dist/intlTelInput.min.js')
if page_select4
    // page_select4
    script(src='../assets/js/add-product/select4-custom.js') 
if vector_map
    // vector_map
    script(src='../assets/js/vector-map/jquery-jvectormap-2.0.2.min.js')
    script(src='../assets/js/vector-map/map/jquery-jvectormap-world-mill-en.js')
    script(src='../assets/js/vector-map/map/jquery-jvectormap-us-aea-en.js')
    script(src='../assets/js/vector-map/map/jquery-jvectormap-uk-mill-en.js')
    script(src='../assets/js/vector-map/map/jquery-jvectormap-au-mill.js')
    script(src='../assets/js/vector-map/map/jquery-jvectormap-chicago-mill-en.js')
    script(src='../assets/js/vector-map/map/jquery-jvectormap-in-mill.js')
    script(src='../assets/js/vector-map/map/jquery-jvectormap-asia-mill.js')
if page_vector_map
    // page_vector_map
    script(src='../assets/js/vector-map/map-vector.js')
if touchspin_2
    // touchspin 
    script(src='../assets/js/touchspin_2/custom_touchspin.js')
if page_select3
    // page_select3
    script(src='../assets/js/select2/select3-custom.js')
if typeahead
    // typehead 
    script(src='../assets/js/typeahead/typeahead.custom.js')
if owlcarousel
    // owlcarousel
    script(src='../assets/js/owlcarousel/owl.carousel.js')
if page_owlcarousel
    // page_owlcarousel
    script(src='../assets/js/owlcarousel/owl-custom.js')  
if form_wizard 
    // form_wizard
    script(src='../assets/js/form-wizard/image-upload.js')
    script(src='../assets/js/form-wizard/form-wizard.js')
if verification_code
    // verification_code
    script(src='../assets/js/form-wizard/verification.js')
if datatable
    // datatable
    script(src='../assets/js/datatable/datatables/jquery.dataTables.min.js')
if data_table
    // data_table
    script(src='../assets/js/js-datatables/datatables/jquery.dataTables.min.js')
if page_datatable
    // page_datatable
    script(src='../assets/js/js-datatables/datatables/datatable.custom.js')
if page_datatable1
    // page_datatable1
    script(src='../assets/js/js-datatables/datatables/datatable.custom1.js')
if datatables
    // datatables
    script(src='../assets/js/js-datatables/simple-datatables@latest.js')
if custom_list_product
    // custom_list_product
    script(src='../assets/js/custom-list-product.js')
if datatable_extension
    // datatable_extension
    script(src='../assets/js/datatable/datatable-extension/dataTables.buttons.min.js')
    script(src='../assets/js/datatable/datatable-extension/jszip.min.js')
    script(src="../assets/js/datatable/datatable-extension/buttons.colVis.min.js")
    script(src='../assets/js/datatable/datatable-extension/pdfmake.min.js')
    script(src='../assets/js/datatable/datatable-extension/vfs_fonts.js')
    script(src='../assets/js/datatable/datatable-extension/dataTables.autoFill.min.js')
    script(src='../assets/js/datatable/datatable-extension/dataTables.select.min.js')
    script(src='../assets/js/datatable/datatable-extension/buttons.bootstrap4.min.js')
    script(src='../assets/js/datatable/datatable-extension/buttons.html5.min.js')
    script(src='../assets/js/datatable/datatable-extension/buttons.print.min.js')
    script(src='../assets/js/datatable/datatable-extension/dataTables.bootstrap4.min.js')
    script(src='../assets/js/datatable/datatable-extension/dataTables.responsive.min.js')
    script(src='../assets/js/datatable/datatable-extension/responsive.bootstrap4.min.js')
    script(src='../assets/js/datatable/datatable-extension/dataTables.keyTable.min.js')
    script(src='../assets/js/datatable/datatable-extension/dataTables.colReorder.min.js')
    script(src='../assets/js/datatable/datatable-extension/dataTables.fixedHeader.min.js')
    script(src='../assets/js/datatable/datatable-extension/dataTables.rowReorder.min.js')
    script(src='../assets/js/datatable/datatable-extension/dataTables.scroller.min.js')
    script(src='../assets/js/datatable/datatable-extension/custom.js')
if jsgrid
    //  jsgrid
    script(src='../assets/js/jsgrid/jsgrid.min.js')
    script(src='../assets/js/jsgrid/griddata.js')
    script(src='../assets/js/jsgrid/jsgrid.js')
if image_upload 
    // image upload
    script(src='../assets/js/form-wizard/image-upload.js')
if page_datatable
    // page_datatable
    script(src='../assets/js/datatable/datatables/datatable.custom.js')
if datatable_advance 
    // datatable_advance
    script(src='../assets/js/datatable/datatable_advance.js')
if email_pagination 
    // email_pagination
    script(src='../assets/js/letter-box/custom-mail-pagination.js')
    script(src='../assets/js/letter-box/custom-usermail.js')
if dashboard_default
    // dashboard default
    script(src='../assets/js/data-table/default.js')
if aos
    // AOS
    script(src='../assets/js/animation/aos/aos.js')
if page_aos
    // page_aos
    script(src='../assets/js/animation/aos/aos-init.js')
if photo_swipe
    // photo_swipe
    script(src='../assets/js/photoswipe/photoswipe.min.js')
    script(src='../assets/js/photoswipe/photoswipe-ui-default.min.js')
    script(src='../assets/js/photoswipe/photoswipe.js')
if isotope
    // isotope
    script(src='../assets/js/isotope.pkgd.min.js')
if page_masonry
    // page_masonry
    script(src='../assets/js/masonry-gallery.js')
if ecommerce
    // ecommerce
    script(src='../assets/js/ecommerce.js')
if wow
    // WOW
    script(src='../assets/js/animation/wow/wow.min.js')
if page_wow
    // page_wow
    script(src='../assets/js/animation/wow-init.js')
if counter
    // counter
    script(src='../assets/js/counter/jquery.waypoints.min.js')
    script(src='../assets/js/counter/jquery.counterup.min.js')
    script(src='../assets/js/counter/counter-custom.js')
if iconly_icon 
    // iconly_icon 
    script(src="../assets/js/icon/iconly.js")
if swiper
    // swiper
    script(src='../assets/js/vendors/swiper/swiper-bundle.min.js')
if swiper_page
    // swiper_page
    script(src='../assets/js/swiper/swiper-custom.js') 
if product_miniswiper
    // product_miniswiper
    script(src='../assets/js/product/custom-product.js')
if range_slider
    // Range Slider js
    script(src='../assets/js/vendors/range-slider/rSlider.min.js')
    script(src='../assets/js/rangeslider/rangeslider.js')
if product_tab
    // product_tab
    script(src='../assets/js/product/product-tab.js')
if touchspin
    // touchspin
    script(src='../assets/js/touchspin/touchspin.js')
    script(src='../assets/js/touchspin/input-groups.min.js')
if chartist
    // chartist
    script(src='../assets/js/chart/chartist/chartist.js')
    script(src='../assets/js/chart/chartist/chartist-plugin-tooltip.js')
if page_chartist
    // page_chartist
    script(src='../assets/js/chart/chartist/chartist-custom.js')
if editors 
    // editors
    script(src='../assets/js/editors/quill.js')
if add_post
    // add_post
    script(src='../assets/js/choices/add-post-custom.js')
if editors1 
    // editors1
    script(src='../assets/js/editors/custom-quill.js')
if editors2 
    // editors2
    script(src='../assets/js/custom-add-product.js')
if editors3 
    // editors3
    script(src='../assets/js/custom-add-product3.js')
if theme_customizer
    // theme_customizer
    script(src='../assets/js/theme-customizer/customizer.js')
if common_chat
    // common_chat
    script(src='../assets/js/common-chat.js')
if emoji_bar 
    // emoji_bar
    script(src='../assets/js/emoji-js/uikit.min.js')
    script(src='../assets/js/emoji-js/custom-emoji.js')
    script(src='../assets/js/emoji-js/custom-emojis.js')
if calendar
    // calendar
    script(src='../assets/js/calendar/fullcalendar.min.js')
    script(src='../assets/js/calendar/fullcalendar-custom.js')
if ace_editor
    // ace_editor
    script(src='../assets/js/editor/ace-editor/ace.js')
    script(src='../assets/js/editor/ace-editor/ace-custom.js')
    script(src='../assets/js/editor/ace-editor/mode-css.js')
    script(src='../assets/js/editor/ace-editor/mode-html.js')
    script(src='../assets/js/editor/ace-editor/mode-javascript.js')
    script(src='../assets/js/editor/ace-editor/mode-php.js')
    script(src='../assets/js/editor/ace-editor/theme-monokai.js')
    script(src='../assets/js/editor/ace-editor/worker-css.js')
    script(src='../assets/js/editor/ace-editor/worker-html.js')
    script(src='../assets/js/editor/ace-editor/worker-javascript.js')
    script(src='../assets/js/editor/ace-editor/worker-php.js')
if tooltip2
    // tooltip2
    script(src='../assets/js/tooltip-init.js')
if todo
    // todo
    script(src='../assets/js/todo/todo.js')
if support_ticket_custom
    // support_ticket_custom
    script(src='../assets/js/support-ticket-custom.js')
if internationalization
    // internationalization
    script(src='../assets/js/internationalization/language-picker.js')
if password_show 
    // password_show
    script(src='../assets/js/password.js')
if form_wizard_four
    // form_wizard_four
    script(src='../assets/js/custom-wizard.js')
if countdown
    // countdown
    script(src='../assets/js/countdown.js')
if custom_select2
    // custom_select2
    script(src='../assets/js/custom-inputsearch.js')
    script(src='../assets/js/telephone-inpu.js')
if prism
    // prism
    script(src='../assets/js/prism/prism.min.js')
if clipboard
    // clipboard
    script(src='../assets/js/clipboard/clipboard.min.js')
if page_clipboard
    // page_clipboard
    script(src='../assets/js/clipboard/clipboard-script.js')
if customcard
    // customcard
    script(src='../assets/js/custom-card/custom-card.js')
if tilt
    // tilt
    script(src='../assets/js/animation/tilt/tilt.jquery.js')
if page_tilt
    // page_tilt
    script(src='../assets/js/animation/tilt/tilt-custom.js')
if dashboard_1
    // dashboard_1
    script(src='../assets/js/dashboard/dashboard_1.js')
if dashboard_2
    // dashboard_2
    script(src='../assets/js/dashboard/dashboard_2.js')
if dashboard_3
    // dashboard_3
    script(src='../assets/js/dashboard/dashboard_3.js')
if general_widget
    // general_widget
    script(src='../assets/js/widget/general-widget.js')
if image_cropper
    // image_cropper
    script(src='../assets/js/image-cropper/cropper.js')
    script(src='../assets/js/image-cropper/cropper-main.js')
if modal_animated
    // modal_animated
    script(src='../assets/js/modal-animated.js')
if tour
    // tour
    script(src='../assets/js/tour/intro.js')
    script(src='../assets/js/tour/intro-init.js')
if echart 
    // echart
    script(src='../assets/js/chart/echart/esl.js')
    script(src='../assets/js/chart/echart/config.js')
if echart_pie
    // echart_pie
    script(src='../assets/js/chart/echart/pie-chart/facePrint.js')
    script(src='../assets/js/chart/echart/pie-chart/testHelper.js')
    script(src='../assets/js/chart/echart/pie-chart/custom-transition-texture.js')
    script(src='../assets/js/chart/echart/data/symbols.js')
if page_echart
    // page_echart
    script(src='../assets/js/chart/echart/custom.js')
if googlechart
    // googlechart
    script(src='../assets/js/chart/google/google-chart-loader.js')
if page_googlechart
    // page_googlechart
    script(src='../assets/js/chart/google/google-chart.js')
if sparkline
    // sparkline
    script(src='../assets/js/chart/sparkline/sparkline.js')
if page_sparkline
    // page_sparkline
    script(src='../assets/js/chart/sparkline/sparkline-script.js')
if flotchart
    // flotchart
    script(src='../assets/js/chart/flot-chart/excanvas.js')
    script(src='../assets/js/chart/flot-chart/jquery.flot.js')
    script(src='../assets/js/chart/flot-chart/jquery.flot.time.js')
    script(src='../assets/js/chart/flot-chart/jquery.flot.categories.js')
    script(src='../assets/js/chart/flot-chart/jquery.flot.stack.js')
    script(src='../assets/js/chart/flot-chart/jquery.flot.pie.js')
    script(src='../assets/js/chart/flot-chart/jquery.flot.symbol.js')
if page_flotchart
    // page_flotchart
    script(src='../assets/js/chart/flot-chart/flot-script.js')
if knobchart
    // knobchart
    script(src='../assets/js/chart/knob/knob.min.js')
if page_knobchart
    // page_knobchart
    script(src='../assets/js/chart/knob/knob-chart.js')
if morrischart
    // morrischart
    script(src='../assets/js/chart/morris-chart/raphael.js')
    script(src='../assets/js/chart/morris-chart/morris.js') 
    script(src='../assets/js/chart/morris-chart/prettify.min.js')
if page_morrischart
    // page_morrischart
    script(src='../assets/js/chart/morris-chart/morris-script.js')
if chartjs
    // chartjs
    script(src='../assets/js/chart/chartjs/chart.min.js')
if page_chartjs
    // page_chartjs
    script(src='../assets/js/chart/chartjs/chart.custom.js')
if peitychart
    // peitychart
    script(src='../assets/js/chart/peity-chart/peity.jquery.js')
if page_peitychart
    // page_peitychart
    script(src='../assets/js/chart/peity-chart/peity-custom.js')
if chart_widget
    // chart_widget
    script(src='../assets/js/chart-widget.js')
if icon_notify
    // icon_notify
    script(src='../assets/js/icon/icons-notify.js')
if Icons_copy
    // Icons_copy
    script(src='../assets/js/icon/icon.js')
if page_feather_icon
    // page_feather_icon
    script(src='../assets/js/icon/feather-icon-clipart.js')
if iconly_icon
    // iconly_icon
    script(src='../assets/js/icon/iconly_icon.js')
if page_icon
    // page_icon
    script(src='../assets/js/icon/icon-clipart.js')
// custom script 
script(src='../assets/js/script.js')
