head
    meta(http-equiv='Content-Type' content='text/html; charset=UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0') 
    meta(name='description', content='Curtis ERP & CRM – modern, responsive, and powerful business management solutions.')
    meta(name='keywords' content='Curtis ERP & CRM – modern, responsive, and powerful business management solutions.')
    meta(name='author' content='pixelstrap')
    title Curtis
    // Favicon icon
    link(rel='icon' href='../assets/images/favicon.png' type='image/x-icon')
    link(rel='shortcut icon' href='../assets/images/favicon.png' type='image/x-icon')
    // Google font
    link(rel='preconnect' href='https://fonts.googleapis.com')
    link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
    link(href='https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200;6..12,300;6..12,400;6..12,500;6..12,600;6..12,700;6..12,800;6..12,900;6..12,1000&display=swap' rel='stylesheet')
    // Flag icon css 
    link(rel='stylesheet' href='../assets/css/vendors/flag-icon.css')
    // iconly-icon
    link(rel="stylesheet" href='../assets/css/iconly-icon.css')
    link(rel="stylesheet" href='../assets/css/bulk-style.css')
    // iconly-icon
    link(rel="stylesheet" href='../assets/css/themify.css')
    //fontawesome
    link(rel="stylesheet", href="../assets/css/fontawesome-min.css")
    // Whether Icon css
    link(rel='stylesheet'  type='text/css', href='../assets/css/vendors/weather-icons/weather-icons.min.css')
    if timeLine
        link(rel='stylesheet' href='../assets/css/vendors/timeline/timeline.css')
    if sweetalert2
        link(rel='stylesheet', type='text/css', href='../assets/css/vendors/sweetalert2.css')
    if dropzone
        link(rel='stylesheet', type='text/css', href='../assets/css/vendors/dropzone.css')
    if filepond
        link(rel='stylesheet', type='text/css', href='../assets/css/vendors/filepond.css')
        link(rel='stylesheet', type='text/css', href='../assets/css/vendors/filepond-plugin-image-preview.css')
    if range
        link(rel='stylesheet', type='text/css', href='../assets/css/vendors/range.css')
    if scrollbar        
        link(rel='stylesheet', type='text/css', href='../assets/css/vendors/scrollbar.css')
    if tree
        link(rel='stylesheet', type='text/css', href='../assets/css/vendors/tree.css')
    if flatpickr 
        link(rel="stylesheet",  type='text/css' href='../assets/css/vendors/flatpickr/flatpickr.min.css')
    if datatable
        link(rel='stylesheet', type='text/css', href='../assets/css/vendors/datatables.css')
    if datatables
        link(rel='stylesheet'  type='text/css', href='../assets/css/vendors/simple-datatables/dist/style.css')
    if datatable_extension
        link(rel='stylesheet', type='text/css', href='../assets/css/vendors/datatable-extension.css')
    if jsgrid
        link(rel='stylesheet', type='text/css', href='../assets/css/vendors/jsgrid.css')
    if aos
        link(rel='stylesheet', type='text/css', href='../assets/css/vendors/aos.css')
    if photo_swipe
        link(rel='stylesheet', type='text/css', href='../assets/css/vendors/photoswipe.css')
    if animate
        link(rel='stylesheet', type='text/css', href='../assets/css/vendors/animate.css') 
    if range_slider
        link(rel='stylesheet', type='text/css', href='../assets/css/vendors/rangeslider/rSlider.min.css')
    if chartist
        link(rel='stylesheet', type='text/css', href='../assets/css/vendors/chartist.css') 
    if editors
        link(rel='stylesheet', type='text/css', href='../assets/css/vendors/quill.snow.css')
    if choice
        link(rel='stylesheet', type='text/css', href='../assets/css/vendors/choices.js/public/assets/styles/choices.min.css')
    if owlcarousel
        link(rel='stylesheet', type='text/css', href='../assets/css/vendors/owlcarousel.css')
    if emoji_bar 
        link(rel="stylesheet",  type='text/css', href="../assets/css/vendors/emoji/uikit.min.css")
    if select2 
        link(rel='stylesheet', type='text/css', href='../assets/css/vendors/select2.css')
    if date_picker
        link(rel='stylesheet', type='text/css', href='../assets/css/vendors/date-picker.css')
    if calendar
        link(rel='stylesheet', type='text/css', href='../assets/css/vendors/calendar.css')
    if vector_map
        link(rel='stylesheet', type='text/css', href='../assets/css/vendors/vector-map.css')
    if Bubble_editor 
        link(rel='stylesheet', type='text/css', href='../assets/css/vendors/quill.bubble.css')
        link(rel='stylesheet', type='text/css', href='../assets/css/vendors/bootstrap.css')
    if todo
        link(rel='stylesheet', type='text/css', href='../assets/css/vendors/todo.css')
    if select2_options 
        link(rel='stylesheet', type='text/css', href='../assets/css/vendors/intltelinput.min.css')
        link(rel='stylesheet', type='text/css', href='../assets/css/vendors/tagify.css')
    if prism
        link(rel='stylesheet', type='text/css', href='../assets/css/vendors/prism.css')
    if swiper
        link(rel='stylesheet', type='text/css', href='../assets/css/vendors/swiper-bundle.min.css')
    if image_cropper
        link(rel='stylesheet', type='text/css', href='../assets/css/vendors/image-cropper.css')
    if tour
        link(rel='stylesheet', type='text/css', href='../assets/css/vendors/tour.css')
    if echart
        link(rel='stylesheet', type='text/css', href='../assets/css/vendors/echart.css') 
    if slick 
        link(rel='stylesheet', type='text/css', href='../assets/css/vendors/slick.css')
        link(rel='stylesheet', type='text/css', href='../assets/css/vendors/slick-theme.css')
    if scrollpage
        link(rel='stylesheet', type='text/css', href='../assets/css/vendors/scrollable.css')
    // App css 
    link#color(rel='stylesheet', href='../assets/css/color-1.css', media='screen')
    link(rel='stylesheet' href='../assets/css/style.css')