// jquery
script(src="../assets/js/vendors/jquery/jquery.min.js")
// bootstrap js
script(src='../assets/js/vendors/bootstrap/dist/js/bootstrap.bundle.min.js')
// fontawesome js
script(src='../assets/js/vendors/font-awesome/fontawesome-min.js')
// Plugins JS start
script(src='../assets/js/tooltip-init.js')
script(src='../assets/js/animation/wow/wow.min.js')
script(src='../assets/js/landing/landing.js')
script(src='../assets/js/slick/slick.min.js')
script(src='../assets/js/slick/slick.js')