- var sidebar                = true;
- var theme_customizer       = true;
- var slick                  = true;
- var scrollbar              = true;
- var feather                = true;
- var calendar               = true;
include ../../components/mixin 
doctype html 
html(lang='en')
  include ../../components/header-files
  body
    // page-wrapper Start
    include ../../components/taptop
    include ../../components/loader
    #pageWrapper.page-wrapper.compact-wrapper  
      include ../../components/header/header
      // Page Body Start
      .page-body-wrapper 
        include ../../components/sidebar 
        .page-body
          .container-fluid
            .page-title
              .row
                .col-sm-6.col-12 
                  h2
                    | Calender Basic
                .col-sm-6.col-12
                  ol.breadcrumb
                    li.breadcrumb-item
                        a(href='index.html')
                            i.iconly-Home.icli.svg-color
                    li.breadcrumb-item Apps
                    li.breadcrumb-item.active Calender Basic
          // Container-fluid starts
          .container-fluid.calendar-basic
            .card
              .card-body
                  #wrap.row
                      .col-xxl-3.box-col-12
                        .md-sidebar.mb-3
                          a.btn.btn-primary.md-sidebar-toggle(href='javascript:void(0)') calendar filter
                          .md-sidebar-aside.job-left-aside.custom-scrollbar
                            #external-events
                              h4 Draggable Events
                              #external-events-list
                                .fc-event.fc-h-event.fc-daygrid-event.fc-daygrid-block-event
                                  .fc-event-main 
                                    i.fa-solid.fa-birthday-cake.me-2
                                    | Birthday Party
                                .fc-event.fc-h-event.fc-daygrid-event.fc-daygrid-block-event
                                  .fc-event-main 
                                    i.fa-solid.fa-user.me-2
                                    | Meeting With Team.
                                .fc-event.fc-h-event.fc-daygrid-event.fc-daygrid-block-event
                                  .fc-event-main 
                                    i.fa-solid.fa-plane.me-2
                                    | Tour & Picnic
                                .fc-event.fc-h-event.fc-daygrid-event.fc-daygrid-block-event
                                  .fc-event-main 
                                    i.fa-solid.fa-file-text.me-2
                                    | Reporting Schedule
                                .fc-event.fc-h-event.fc-daygrid-event.fc-daygrid-block-event
                                  .fc-event-main 
                                    i.fa-solid.fa-briefcase.me-2
                                    | Lunch & Break
                              p
                                input#drop-remove.checkbox-primary(type='checkbox')
                                label(for='drop-remove') remove after drop
                      .col-xxl-9.box-col-12
                        #calendar-container.calendar-default
                          #calendar
          // Container-fluid ends
        include ../../components/footer
    include ../../components/footer-files