- var sidebar                = true;
- var theme_customizer       = true;
- var slick                  = true;
- var scrollbar              = true;
- var animate                = true;
- var notify                 = true;
- var icon_notify            = true;
- var iconly_icon            = true;
include ../../components/mixin 
doctype html
html(lang='en')
    include ../../components/header-files  
    body
        include ../../components/taptop
        include ../../components/loader
        #pageWrapper.page-wrapper.compact-wrapper
            include ../../components/header/header
            .page-body-wrapper
                include ../../components/sidebar
                .page-body
                    .container-fluid
                        .page-title
                            .row
                                .col-sm-6.col-12  
                                    h2
                                        | Iconly Icon 
                                .col-sm-6.col-12
                                    ol.breadcrumb
                                        li.breadcrumb-item
                                            a(href='index.html')
                                                i.iconly-Home.icli.svg-color
                                        li.breadcrumb-item Icons
                                        li.breadcrumb-item.active Iconly Icon 
                    // Container-fluid starts
                    .container-fluid
                        .row.icon-main
                            .col-sm-12
                                .card
                                    .card-header.card-no-border.pb-0
                                        h3.m-b-0.f-w-700 Iconly Icons  
                                    .card-body
                                        .row.icon-lists 
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.iconly-Activity.icli  
                                                h5.mt-0 Activity
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.iconly-Add-User.icli  
                                                h5.mt-0 Add-User
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.iconly-Arrow-Down.icli  
                                                h5.mt-0 Arrow-Down
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.iconly-Arrow-Down-2.icli  
                                                h5.mt-0 Arrow-Down-2
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.iconly-Arrow-Down-3.icli  
                                                h5.mt-0 Arrow-Down-3
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.iconly-Arrow-Down-Circle.icli  
                                                h5.mt-0 Arrow-Down-Circle
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.iconly-Arrow-Down-Square.icli  
                                                h5.mt-0 Arrow-Down-Square
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.iconly-Arrow-Left.icli  
                                                h5.mt-0 Arrow-Left
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.iconly-Arrow-Left-2.icli  
                                                h5.mt-0 Arrow-Left-2
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.iconly-Arrow-Left-3.icli  
                                                h5.mt-0 Arrow-Left-3
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.iconly-Arrow-Left-Circle.icli  
                                                h5.mt-0 Arrow-Left-Circle
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.iconly-Arrow-Left-Square.icli  
                                                h5.mt-0 Arrow-Left-Square
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.iconly-Arrow-Right.icli  
                                                h5.mt-0 Arrow-Right
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.iconly-Arrow-Right-2.icli  
                                                h5.mt-0 Arrow-Right-2
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.iconly-Arrow-Right-3.icli  
                                                h5.mt-0 Arrow-Right-3
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.iconly-Arrow-Right-Circle.icli  
                                                h5.mt-0 Arrow-Right-Circle
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.iconly-Arrow-Up.icli  
                                                h5.mt-0 Arrow-Up
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item   
                                                i.iconly-Arrow-Up-2.icli  
                                                h5.mt-0 Arrow-Up-2
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.iconly-Arrow-Up-3.icli  
                                                h5.mt-0 Arrow-Up-3
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.iconly-Arrow-Up-Circle.icli  
                                                h5.mt-0 Arrow-Up-Circle
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.iconly-Bag.icli  
                                                h5.mt-0 Bag
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.iconly-Bag-2.icli  
                                                h5.mt-0 Bag-2
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.iconly-Bookmark.icli  
                                                h5.mt-0 Bookmark
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.iconly-Buy.icli  
                                                h5.mt-0 Buy
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.iconly-Calendar.icli  
                                                h5.mt-0 Calendar
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.iconly-Call.icli  
                                                h5.mt-0 Call
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.iconly-Call-Missed.icli  
                                                h5.mt-0 Call-Missed
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.iconly-Call-Silent.icli  
                                                h5.mt-0 Call-Silent
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.iconly-Calling.icli  
                                                h5.mt-0 Calling
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.iconly-Camera.icli  
                                                h5.mt-0 Camera 
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.iconly-Category.icli  
                                                h5.mt-0 Category
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.iconly-Chart.icli  
                                                h5.mt-0 Chart
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.iconly-Chat.icli  
                                                h5.mt-0 Chat 
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.iconly-Close-Square.icli  
                                                h5.mt-0 Close-Square
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.iconly-Danger.icli  
                                                h5.mt-0 Danger
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.iconly-Delete.icli  
                                                h5.mt-0 Delete
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.iconly-Discount.icli  
                                                h5.mt-0 Discount
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.iconly-Discovery.icli  
                                                h5.mt-0 Discovery
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.iconly-Document.icli  
                                                h5.mt-0 Document
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.iconly-Download.icli  
                                                h5.mt-0 Download
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.iconly-Edit.icli  
                                                h5.mt-0 Edit
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.iconly-Edit-Square.icli  
                                                h5.mt-0 Edit-Square
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.iconly-Filter.icli  
                                                h5.mt-0 Filter
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.iconly-Filter-2.icli  
                                                h5.mt-0 Filter-2
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.iconly-Folder.icli  
                                                h5.mt-0 Folder
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.iconly-Game.icli  
                                                h5.mt-0 Game
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.iconly-Graph.icli  
                                                h5.mt-0 Graph
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.iconly-Heart.icli  
                                                h5.mt-0 Heart
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.iconly-Hide.icli  
                                                h5.mt-0 Hide
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.iconly-Home.icli  
                                                h5.mt-0 Home
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.iconly-Image.icli  
                                                h5.mt-0 Image
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.iconly-Image-2.icli  
                                                h5.mt-0 Image-2
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.iconly-Info-Circle.icli  
                                                h5.mt-0 Info-Circle
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.iconly-Info-Square.icli  
                                                h5.mt-0 Info-Square    
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.iconly-Location.icli  
                                                h5.mt-0 Location
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.iconly-Lock.icli  
                                                h5.mt-0 Lock
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.iconly-Login.icli  
                                                h5.mt-0 Login   
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.iconly-Logout.icli  
                                                h5.mt-0 Logout
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.iconly-Message.icli  
                                                h5.mt-0 Message
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.iconly-More-Circle.icli  
                                                h5.mt-0 More-Circle
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.iconly-More-Square.icli  
                                                h5.mt-0 More-Square   
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.iconly-Notification.icli  
                                                h5.mt-0 Notification
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.iconly-Paper.icli  
                                                h5.mt-0 Paper
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.iconly-Paper-Download.icli  
                                                h5.mt-0 Paper-Download   
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.iconly-Paper-Fail.icli  
                                                h5.mt-0 Paper-Fail
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.iconly-Paper-Negative.icli  
                                                h5.mt-0 Paper-Negative
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.iconly-Paper-Plus.icli  
                                                h5.mt-0 Paper-Plus
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.iconly-Paper-Upload.icli  
                                                h5.mt-0 Paper-Upload
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.iconly-Password.icli  
                                                h5.mt-0 Password
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.iconly-Play.icli  
                                                h5.mt-0 Play
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.iconly-Plus.icli  
                                                h5.mt-0 Plus
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.iconly-Profile.icli  
                                                h5.mt-0 Profile
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.iconly-Scan.icli  
                                                h5.mt-0 Scan
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.iconly-Search.icli  
                                                h5.mt-0 Search
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.iconly-Send.icli  
                                                h5.mt-0 Send
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.iconly-Setting.icli  
                                                h5.mt-0 Setting
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.iconly-Shield-Done.icli  
                                                h5.mt-0 Shield-Done
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.iconly-Shield-Fail.icli  
                                                h5.mt-0 Shield-Fail
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.iconly-Show.icli  
                                                h5.mt-0 Show
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.iconly-Star.icli  
                                                h5.mt-0 Star
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.iconly-Swap.icli  
                                                h5.mt-0 Swap
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.iconly-Tick-Square.icli  
                                                h5.mt-0 Tick-Square
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.iconly-Ticket.icli  
                                                h5.mt-0 Ticket
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.iconly-Ticket-Star.icli  
                                                h5.mt-0 Ticket-Star
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.iconly-Time-Circle.icli  
                                                h5.mt-0 Time-Circle
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.iconly-Time-Square.icli  
                                                h5.mt-0 Time-Square
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.iconly-Unlock.icli  
                                                h5.mt-0 Unlock
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.iconly-Upload.icli  
                                                h5.mt-0 Upload
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.iconly-User2.icli  
                                                h5.mt-0 User2
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.iconly-User3.icli  
                                                h5.mt-0 User3
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.iconly-Video.icli  
                                                h5.mt-0 Video
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.iconly-Voice.icli  
                                                h5.mt-0 Voice
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.iconly-Voice-2.icli  
                                                h5.mt-0 Voice-2
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.iconly-Volume-Down.icli  
                                                h5.mt-0 Volume-Down
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.iconly-Volume-Off.icli  
                                                h5.mt-0 Volume-Off
                include ../../components/footer
        .icon-hover-bottom.position-fixed.fa-fa-icon-show-div
          .container-fluid
            .row
              .icon-popup
                .close-icon
                  i.fa-solid.fa-xmark
                .icon-first
                  i#icon_main.fa-2x
                .icon-class
                  label.icon-title Class
                  span#fclass1
                .icon-last.icon-last
                  label.icon-title Markup
                  .form-inline
                    .form-group
                      input#input_copy.inp-val.form-control.m-r-10(type='text', value='', readonly='readonly')
                      button.btn.btn-primary.notification(onclick='myFunction()') Copy text
        include ../../components/footer-files