- var sidebar                = true;
- var theme_customizer       = true;
- var slick                  = true;
- var scrollbar              = true;
- var swiper                 = true;
- var swiper_page            = true;
include ../../components/mixin 
doctype html 
html(lang='en')
  include ../../components/header-files
  body
    // page-wrapper Start
    include ../../components/taptop
    include ../../components/loader
    #pageWrapper.page-wrapper.compact-wrapper 
      include ../../components/header/header
      // Page Body Start
      .page-body-wrapper 
        include ../../components/sidebar 
        .page-body
          .container-fluid
            .page-title
              .row
                .col-sm-6.col-12 
                  h2
                    | Slider
                .col-sm-6.col-12
                  ol.breadcrumb
                    li.breadcrumb-item
                        a(href='index.html')
                            i.iconly-Home.icli.svg-color
                    li.breadcrumb-item Bonus Ui
                    li.breadcrumb-item.active Slider 
          // Container-fluid starts   
          .container-fluid
            .row
              .col-xl-6.col-12
                .card
                  .card-header.card-no-border.pb-0
                    h3 Default swiper slider
                    p.desc.mb-0.mt-1
                      span Use the
                      code .active
                      span class and images to prevent browser default image alignment.
                  .card-body
                    #carouselExampleSlidesOnly.carousel.slide(data-bs-ride='carousel')
                      .carousel-inner
                        .carousel-item.active
                          img.d-block.w-100(src='../assets/images/slider/11.jpg' alt='drawing-room')
                        .carousel-item
                          img.d-block.w-100(src='../assets/images/slider/9.jpg' alt='drawing-room')
                        .carousel-item
                          img.d-block.w-100(src='../assets/images/slider/6.jpg' alt='drawing-room')
              .col-xl-6.col-12
                .card
                  .card-header.card-no-border.pb-0
                    h3 With Controls
                    p.desc.mb-0.mt-1
                      span Use the
                      code .active
                      span class and images to prevent browser default image alignment.
                  .card-body
                    #carouselExampleControls.carousel.slide(data-bs-ride='carousel')
                      .carousel-inner
                        .carousel-item.active
                          img.d-block.w-100(src='../assets/images/slider/6.jpg' alt='drawing-room')
                        .carousel-item
                          img.d-block.w-100(src='../assets/images/slider/7.jpg' alt='drawing-room')
                        .carousel-item
                          img.d-block.w-100(src='../assets/images/slider/10.jpg' alt='drawing-room')
                        .carousel-item
                          img.d-block.w-100(src='../assets/images/slider/4.jpg' alt='drawing-room')
                        .carousel-item
                          img.d-block.w-100(src='../assets/images/slider/1.jpg' alt='drawing-room')
                      button.carousel-control-prev(type='button' data-bs-target='#carouselExampleControls' data-bs-slide='prev')
                        span.carousel-control-prev-icon(aria-hidden='true')
                        span.visually-hidden Previous
                      button.carousel-control-next(type='button' data-bs-target='#carouselExampleControls' data-bs-slide='next')
                        span.carousel-control-next-icon(aria-hidden='true')
                        span.visually-hidden Next
              .col-xl-6.col-12
                .card.auto-slider
                  .card-header.card-no-border.pb-0
                    h3 Auto Play Variant
                    p.desc.mb-0.mt-1
                      span Use the
                      code .owl-carouse
                      span through slides.
                  .card-body
                    .swiper.mySwiper
                      .swiper-wrapper
                        .swiper-slide
                          img(src='../assets/images/slider/1.jpg' alt='Drawing-room')
                        .swiper-slide
                          img(src='../assets/images/slider/2.jpg' alt='Drawing-room')
                        .swiper-slide
                          img(src='../assets/images/slider/3.jpg' alt='Drawing-room')
                        .swiper-slide
                          img(src='../assets/images/slider/4.jpg' alt='Drawing-room')
                        .swiper-slide
                          img(src='../assets/images/slider/5.jpg' alt='Drawing-room')
                        .swiper-slide
                          img(src='../assets/images/slider/6.jpg' alt='Drawing-room')
                        .swiper-slide
                          img(src='../assets/images/slider/7.jpg' alt='Drawing-room')
                        .swiper-slide
                          img(src='../assets/images/slider/8.jpg' alt='Drawing-room')
                        .swiper-slide
                          img(src='../assets/images/slider/9.jpg' alt='Drawing-room')
                        .swiper-slide
                          img(src='../assets/images/slider/10.jpg' alt='Drawing-room')
                        .swiper-slide
                          img(src='../assets/images/slider/11.jpg' alt='Drawing-room')
                    .swiper-pagination
              .col-xl-6.col-12
                .card.auto-slider
                  .card-header.card-no-border.pb-0
                    h3 Mouse Wheel Variant
                    p.desc.mb-0.mt-1
                      span Use the
                      code .owl-carouse
                      span through slides.
                  .card-body
                    .swiper.mouseSwiper
                      .swiper-wrapper
                        .swiper-slide
                          img(src='../assets/images/slider/1.jpg' alt='Drawing-room')
                        .swiper-slide
                          img(src='../assets/images/slider/2.jpg' alt='Drawing-room')
                        .swiper-slide
                          img(src='../assets/images/slider/3.jpg' alt='Drawing-room')
                        .swiper-slide
                          img(src='../assets/images/slider/4.jpg' alt='Drawing-room')
                        .swiper-slide
                          img(src='../assets/images/slider/5.jpg' alt='Drawing-room')
                        .swiper-slide
                          img(src='../assets/images/slider/6.jpg' alt='Drawing-room')
                        .swiper-slide
                          img(src='../assets/images/slider/7.jpg' alt='Drawing-room')
                        .swiper-slide
                          img(src='../assets/images/slider/8.jpg' alt='Drawing-room')
                        .swiper-slide
                          img(src='../assets/images/slider/9.jpg' alt='Drawing-room')
                        .swiper-slide
                          img(src='../assets/images/slider/10.jpg' alt='Drawing-room')
                        .swiper-slide
                          img(src='../assets/images/slider/11.jpg' alt='Drawing-room')
                    .mouse-pagination
              .col-xl-6.col-12
                .card
                  .card-header.card-no-border.pb-0
                    h3 With Indicators
                    p.desc.mb-0.mt-1
                      span Use the
                      code .carousel-indicators
                      span through carousel indicates.
                  .card-body
                    #carouselExampleIndicators.carousel.slide(data-bs-ride='true')
                      .carousel-indicators
                        button.active(type='button' data-bs-target='#carouselExampleIndicators' data-bs-slide-to='0' aria-current='true' aria-label='Slide 1')
                        button(type='button' data-bs-target='#carouselExampleIndicators' data-bs-slide-to='1' aria-label='Slide 2')
                        button(type='button' data-bs-target='#carouselExampleIndicators' data-bs-slide-to='2' aria-label='Slide 3')
                      .carousel-inner
                        .carousel-item.active
                          img.d-block.w-100(src='../assets/images/slider/3.jpg' alt='drawing-room')
                        .carousel-item
                          img.d-block.w-100(src='../assets/images/slider/8.jpg' alt='drawing-room')
                        .carousel-item
                          img.d-block.w-100(src='../assets/images/slider/10.jpg' alt='drawing-room')
                      button.carousel-control-prev(type='button' data-bs-target='#carouselExampleIndicators' data-bs-slide='prev')
                        span.carousel-control-prev-icon(aria-hidden='true')
                        span.visually-hidden Previous
                      button.carousel-control-next(type='button' data-bs-target='#carouselExampleIndicators' data-bs-slide='next')
                        span.carousel-control-next-icon(aria-hidden='true')
                        span.visually-hidden Next
              .col-xl-6.col-12
                .card
                  .card-header.card-no-border.pb-0
                    h3 With Captions
                    p.desc.mb-0.mt-1
                      span Add captions to your slides easily with the
                      code .carousel-caption
                      span element within any .carousel-item.
                  .card-body
                    #carouselExampleCaptions.carousel.slide(data-bs-ride='false')
                      .carousel-indicators
                        button.active(type='button' data-bs-target='#carouselExampleCaptions' data-bs-slide-to='0' aria-current='true' aria-label='Slide 1')
                        button(type='button' data-bs-target='#carouselExampleCaptions' data-bs-slide-to='1' aria-label='Slide 2')
                        button(type='button' data-bs-target='#carouselExampleCaptions' data-bs-slide-to='2' aria-label='Slide 3')
                      .carousel-inner
                        .carousel-item.active
                          img.d-block.w-100(src='../assets/images/slider/9.jpg' alt='drawing-room')
                          .carousel-caption.d-none.d-md-block
                            h5 The area in the house that is most comfortable.
                            p
                              | You can watch folks you wouldn&apos;t have in your house amuse you in your living room thanks to the development of television.
                        .carousel-item
                          img.d-block.w-100(src='../assets/images/slider/1.jpg' alt='drawing-room')
                          .carousel-caption.d-none.d-md-block
                            h5 Drawing Room
                            p
                              | Regardless of how big or tiny your home is, think about hiring an interior designer. They give you a calm living atmosphere in addition to decorating your home.
                        .carousel-item
                          img.d-block.w-100(src='../assets/images/slider/2.jpg' alt='drawing-room')
                          .carousel-caption.d-none.d-md-block
                            h5 House Interior
                            p
                              | If you want to alter your way of life, start with redesigning your house&apos;s interior.
                      button.carousel-control-prev(type='button' data-bs-target='#carouselExampleCaptions' data-bs-slide='prev')
                        span.carousel-control-prev-icon(aria-hidden='true')
                        span.visually-hidden Previous
                      button.carousel-control-next(type='button' data-bs-target='#carouselExampleCaptions' data-bs-slide='next')
                        span.carousel-control-next-icon(aria-hidden='true')
                        span.visually-hidden Next
              .col-xl-6.col-12
                .card
                  .card-header.card-no-border.pb-0
                    h3 Cross-Fade
                    p.desc.mb-0.mt-1
                      span Add
                      code .carousel-fade
                      span
                        | to your carousel to animate slides with a fade transition instead of a slide.you may want to add .bg-body or some custom CSS to the .carousel-items for proper cross-fading.
                  .card-body
                    #carouselExampleFade.carousel.slide.carousel-fade(data-bs-ride='carousel')
                      .carousel-inner
                        .carousel-item.active
                          img.d-block.w-100(src='../assets/images/slider/1.jpg' alt='drawing-room')
                        .carousel-item
                          img.d-block.w-100(src='../assets/images/slider/11.jpg' alt='drawing-room')
                        .carousel-item
                          img.d-block.w-100(src='../assets/images/slider/7.jpg' alt='drawing-room')
                        .carousel-item
                          img.d-block.w-100(src='../assets/images/slider/10.jpg' alt='drawing-room')
                      button.carousel-control-prev(type='button' data-bs-target='#carouselExampleFade' data-bs-slide='prev')
                        span.carousel-control-prev-icon(aria-hidden='true')
                        span.visually-hidden Previous
                      button.carousel-control-next(type='button' data-bs-target='#carouselExampleFade' data-bs-slide='next')
                        span.carousel-control-next-icon(aria-hidden='true')
                        span.visually-hidden Next
              .col-xl-6.col-12
                .card
                  .card-header.card-no-border.pb-0
                    h3 Individual Carousel-Item Interval
                    p.desc.mb-0.mt-1
                      span Add
                      code data-bs-interval
                      span
                        | to a .carousel-item to change the amount of time to delay between automatically cycling to the next item.
                  .card-body
                    #carouselExampleInterval.carousel.slide(data-bs-ride='carousel')
                      .carousel-inner
                        .carousel-item.active(data-bs-interval='10000')
                          img.d-block.w-100(src='../assets/images/slider/5.jpg' alt='drawing-room')
                        .carousel-item(data-bs-interval='2000')
                          img.d-block.w-100(src='../assets/images/slider/2.jpg' alt='drawing-room')
                        .carousel-item
                          img.d-block.w-100(src='../assets/images/slider/10.jpg' alt='drawing-room')
                      button.carousel-control-prev(type='button' data-bs-target='#carouselExampleInterval' data-bs-slide='prev')
                        span.carousel-control-prev-icon(aria-hidden='true')
                        span.visually-hidden Previous
                      button.carousel-control-next(type='button' data-bs-target='#carouselExampleInterval' data-bs-slide='next')
                        span.carousel-control-next-icon(aria-hidden='true')
                        span.visually-hidden Next
              .col-xl-6.col-12
                .card
                  .card-header.card-no-border.pb-0
                    h3 Disable Touch Swiping
                    p.desc.mb-0.mt-1
                      span Use the
                      code data-bs-touch
                      span
                        | Carousels support swiping left/right on touchscreen devices to move between slides. This can be disabled using the  attribute.
                  .card-body
                    #carouselExampleControlsNoTouching.carousel.slide(data-bs-touch='false')
                      .carousel-inner
                        .carousel-item.active
                          img.d-block.w-100(src='../assets/images/slider/4.jpg' alt='drawing-room')
                        .carousel-item
                          img.d-block.w-100(src='../assets/images/slider/8.jpg' alt='drawing-room')
                        .carousel-item
                          img.d-block.w-100(src='../assets/images/slider/6.jpg' alt='drawing-room')
                      button.carousel-control-prev(type='button' data-bs-target='#carouselExampleControlsNoTouching' data-bs-slide='prev')
                        span.carousel-control-prev-icon(aria-hidden='true')
                        span.visually-hidden Previous
                      button.carousel-control-next(type='button' data-bs-target='#carouselExampleControlsNoTouching' data-bs-slide='next')
                        span.carousel-control-next-icon(aria-hidden='true')
                        span.visually-hidden Next
              .col-xl-6.col-12
                .card
                  .card-header.card-no-border.pb-0
                    h3 Dark Variant
                    p.desc.mb-0.mt-1
                      span Add
                      code .carousel-dark
                      span to the .carousel for darker controls, indicators, and captions.
                  .card-body
                    #carouselExampleDark.carousel.carousel-dark.slide(data-bs-ride='carousel')
                      .carousel-indicators
                        button.active(type='button' data-bs-target='#carouselExampleDark' data-bs-slide-to='0' aria-current='true' aria-label='Slide 1')
                        button(type='button' data-bs-target='#carouselExampleDark' data-bs-slide-to='1' aria-label='Slide 2')
                        button(type='button' data-bs-target='#carouselExampleDark' data-bs-slide-to='2' aria-label='Slide 3')
                      .carousel-inner
                        .carousel-item.active(data-bs-interval='10000')
                          img.d-block.w-100(src='../assets/images/slider/1.jpg' alt='drawing-room')
                          .carousel-caption.d-none.d-md-block.carousel-opacity
                            h5 We decorate our homes
                            p
                              | If you have been dreaming about bringing your living room together, our designers are here to help. Come see what we can do for your space.
                        .carousel-item(data-bs-interval='2000')
                          img.d-block.w-100(src='../assets/images/slider/3.jpg' alt='drawing-room')
                          .carousel-caption.d-none.d-md-block.carousel-opacity
                            h5 This couch is a great topic of conversation.
                            p A sofa is the ideal spot to enjoy a movie, nod off, and wake up.
                        .carousel-item
                          img.d-block.w-100(src='../assets/images/slider/6.jpg' alt='drawing-room')
                          .carousel-caption.d-none.d-md-block.carousel-opacity
                            h5 Sometimes all you really need to unwind is a comfortable couch.
                            p A house you can create with your friends is a great place.
                      button.carousel-control-prev(type='button' data-bs-target='#carouselExampleDark' data-bs-slide='prev')
                        span.carousel-control-prev-icon(aria-hidden='true')
                        span.visually-hidden Previous
                      button.carousel-control-next(type='button' data-bs-target='#carouselExampleDark' data-bs-slide='next')
                        span.carousel-control-next-icon(aria-hidden='true')
                        span.visually-hidden Next
          // Container-fluid ends              
        include ../../components/footer
    include ../../components/footer-files