- var sidebar                = true;
- var theme_customizer       = true;
- var slick                  = true;
- var scrollbar              = true;
- var notify                 = true;
- var icon_notify            = true;
- var animate                = true;
- var page_icon              = true;
include ../../components/mixin 
doctype html
html(lang='en')
    include ../../components/header-files
    body
        include ../../components/taptop
        include ../../components/loader
        #pageWrapper.page-wrapper.compact-wrapper
            include ../../components/header/header
            .page-body-wrapper
                include ../../components/sidebar
                .page-body
                    .container-fluid
                        .page-title
                            .row
                                .col-sm-6.col-12  
                                    h2
                                        | Themify Icon
                                .col-sm-6.col-12
                                    ol.breadcrumb 
                                        li.breadcrumb-item
                                            a(href='index.html')
                                                i.iconly-Home.icli.svg-color
                                        li.breadcrumb-item Icons
                                        li.breadcrumb-item.active Themify Icon
                    // Container-fluid starts
                    .container-fluid
                        .row.icon-main
                            .col-sm-12
                                .card
                                    .card-header.card-no-border.pb-0
                                        h3.m-b-0.f-w-700 Arrows & Direction Icons
                                    .card-body
                                        .row.icon-lists 
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-arrow-up
                                                h5.mt-0  Icon-arrow-up
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-arrow-right
                                                h5.mt-0  Icon-arrow-right
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-arrow-left
                                                h5.mt-0  Icon-arrow-left
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-arrow-down
                                                h5.mt-0  Icon-arrow-down
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-arrows-vertical
                                                h5.mt-0  Icon-arrows-vertical
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-arrows-horizontal
                                                h5.mt-0  Icon-arrows-horizontal
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-angle-up
                                                h5.mt-0  Icon-angle-up
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-angle-right
                                                h5.mt-0  Icon-angle-right
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-angle-left
                                                h5.mt-0  Icon-angle-left
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-angle-down
                                                h5.mt-0  Icon-angle-down
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-angle-double-up
                                                h5.mt-0  Icon-angle-double-up
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-angle-double-right
                                                h5.mt-0  Icon-angle-double-right
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-angle-double-left
                                                h5.mt-0  Icon-angle-double-left
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-angle-double-down
                                                h5.mt-0  Icon-angle-double-down
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-move
                                                h5.mt-0  Icon-move
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-fullscreen
                                                h5.mt-0  Icon-fullscreen
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-arrow-top-right
                                                h5.mt-0  Icon-arrow-top-right
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-arrow-top-left
                                                h5.mt-0  Icon-arrow-top-left
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-arrow-circle-up
                                                h5.mt-0  Icon-arrow-circle-up
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-arrow-circle-right
                                                h5.mt-0  Icon-arrow-circle-right
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-arrow-circle-left
                                                h5.mt-0  Icon-arrow-circle-left
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-arrow-circle-down
                                                h5.mt-0  Icon-arrow-circle-down
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-arrows-corner
                                                h5.mt-0  Icon-arrows-corner
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-split-v
                                                h5.mt-0  Icon-split-v
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-split-v-alt
                                                h5.mt-0  Icon-split-v-alt
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-split-h
                                                h5.mt-0  Icon-split-h
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-hand-point-up
                                                h5.mt-0  Icon-hand-point-up
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-hand-point-right
                                                h5.mt-0  Icon-hand-point-right
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-hand-point-left
                                                h5.mt-0  Icon-hand-point-left
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-hand-point-down
                                                h5.mt-0  Icon-hand-point-down
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-back-right
                                                h5.mt-0  Icon-back-right
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-back-left
                                                h5.mt-0  Icon-back-left
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-exchange-vertical
                                                h5.mt-0  Icon-exchange-vertical
                            .col-sm-12
                                .card
                                    .card-header.card-no-border.pb-0
                                        h3.m-b-0.f-w-700 Web App Icons
                                    .card-body
                                        .row.icon-lists 
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-wand
                                                h5.mt-0  Icon-wand
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-save
                                                h5.mt-0 Icon-save
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-save-alt
                                                h5.mt-0 Icon-save-alt
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-direction
                                                h5.mt-0 Icon-direction
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-direction-alt
                                                h5.mt-0 Icon-direction-alt
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-user
                                                h5.mt-0 Icon-user
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-link
                                                h5.mt-0 Icon-link
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-unlink
                                                h5.mt-0 Icon-unlink
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-trash
                                                h5.mt-0 Icon-trash
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-target
                                                h5.mt-0 Icon-target
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-tag
                                                h5.mt-0 Icon-tag
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-desktop
                                                h5.mt-0 Icon-desktop
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-tablet
                                                h5.mt-0 Icon-tablet
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-mobile
                                                h5.mt-0 Icon-mobile
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-email
                                                h5.mt-0 Icon-email
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-star
                                                h5.mt-0 Icon-star
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-spray
                                                h5.mt-0 Icon-spray
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-signal
                                                h5.mt-0 Icon-signal
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-shopping-cart
                                                h5.mt-0 Icon-shopping-cart
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-shopping-cart-full
                                                h5.mt-0 Icon-shopping-cart-full
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-settings
                                                h5.mt-0 Icon-settings
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-search
                                                h5.mt-0 Icon-search
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-zoom-in
                                                h5.mt-0 Icon-zoom-in
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-zoom-out
                                                h5.mt-0 Icon-zoom-out
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-cut
                                                h5.mt-0 Icon-cut
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-ruler
                                                h5.mt-0 Icon-ruler
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-ruler-alt-2
                                                h5.mt-0 Icon-ruler-alt-2
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-ruler-pencil
                                                h5.mt-0 Icon-ruler-pencil
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-ruler-alt
                                                h5.mt-0 Icon-ruler-alt
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-bookmark
                                                h5.mt-0 Icon-bookmark
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-bookmark-alt
                                                h5.mt-0 Icon-bookmark-alt
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-reload
                                                h5.mt-0 Icon-reload
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-plus
                                                h5.mt-0 Icon-plus
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-minus
                                                h5.mt-0 Icon-minus
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-close
                                                h5.mt-0 Icon-close
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-pin
                                                h5.mt-0 Icon-pin
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-pencil
                                                h5.mt-0 Icon-pencil
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-pencil-alt
                                                h5.mt-0 Icon-pencil-alt
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-paint-roller
                                                h5.mt-0 Icon-paint-roller
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-paint-bucket
                                                h5.mt-0 Icon-paint-bucket
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-na
                                                h5.mt-0 Icon-na
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-medall
                                                h5.mt-0 Icon-medall
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-medall-alt
                                                h5.mt-0 Icon-medall-alt
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-marker
                                                h5.mt-0 Icon-marker
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-marker-alt
                                                h5.mt-0 Icon-marker-alt
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-lock
                                                h5.mt-0 Icon-lock
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-unlock
                                                h5.mt-0 Icon-unlock
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-location-arrow
                                                h5.mt-0 Icon-location-arrow
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-layout
                                                h5.mt-0 Icon-layout
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-layers
                                                h5.mt-0 Icon-layers
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-layers-alt
                                                h5.mt-0 Icon-layers-alt
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-key
                                                h5.mt-0 Icon-key
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-image
                                                h5.mt-0 Icon-image
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-heart
                                                h5.mt-0 Icon-heart
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-heart-broken
                                                h5.mt-0 Icon-heart-broken
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-hand-stop
                                                h5.mt-0 Icon-hand-stop
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-hand-open
                                                h5.mt-0 Icon-hand-open
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-hand-drag
                                                h5.mt-0 Icon-hand-drag
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-flag
                                                h5.mt-0 Icon-flag
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-flag-alt
                                                h5.mt-0 Icon-flag-alt
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-flag-alt-2
                                                h5.mt-0 Icon-flag-alt-2
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-eye
                                                h5.mt-0 Icon-eye
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-import
                                                h5.mt-0 Icon-import
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-export
                                                h5.mt-0 Icon-export
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-cup
                                                h5.mt-0 Icon-cup
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-crown
                                                h5.mt-0 Icon-crown
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-comments
                                                h5.mt-0 Icon-comments
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-comment
                                                h5.mt-0 Icon-comment
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-comment-alt
                                                h5.mt-0 Icon-comment-alt
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-thought
                                                h5.mt-0 Icon-thought
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-clip
                                                h5.mt-0 Icon-clip
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-check
                                                h5.mt-0 Icon-check
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-check-box
                                                h5.mt-0 Icon-check-box
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-camera
                                                h5.mt-0 Icon-camera
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-announcement
                                                h5.mt-0 Icon-announcement
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-brush
                                                h5.mt-0 Icon-brush
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-brush-alt
                                                h5.mt-0 Icon-brush-alt
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-palette
                                                h5.mt-0 Icon-palette
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-briefcase
                                                h5.mt-0 Icon-briefcase
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-bolt
                                                h5.mt-0 Icon-bolt
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-bolt-alt
                                                h5.mt-0 Icon-bolt-alt
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-blackboard
                                                h5.mt-0 Icon-blackboard
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-bag
                                                h5.mt-0 Icon-bag
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-world
                                                h5.mt-0 Icon-world
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-wheelchair
                                                h5.mt-0 Icon-wheelchair
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-car
                                                h5.mt-0 Icon-car
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-truck
                                                h5.mt-0 Icon-truck
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-timer
                                                h5.mt-0 Icon-timer
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-ticket
                                                h5.mt-0 Icon-ticket
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-thumb-up
                                                h5.mt-0 Icon-thumb-up
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-thumb-down
                                                h5.mt-0 Icon-thumb-down
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-stats-up
                                                h5.mt-0 Icon-stats-up
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-stats-down
                                                h5.mt-0 Icon-stats-down
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-shine
                                                h5.mt-0 Icon-shine
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-shift-right
                                                h5.mt-0 Icon-shift-right
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-shift-left
                                                h5.mt-0 Icon-shift-left
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-shift-right-alt
                                                h5.mt-0 Icon-shift-right-alt
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-shift-left-alt
                                                h5.mt-0 Icon-shift-left-alt
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-shield
                                                h5.mt-0 Icon-shield
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-notepad
                                                h5.mt-0 Icon-notepad
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-server
                                                h5.mt-0 Icon-server
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-pulse
                                                h5.mt-0 Icon-pulse
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-printer
                                                h5.mt-0 Icon-printer
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-power-off
                                                h5.mt-0 Icon-power-off
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-plug
                                                h5.mt-0 Icon-plug
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-pie-chart
                                                h5.mt-0 Icon-pie-chart
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-panel
                                                h5.mt-0 Icon-panel
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-package
                                                h5.mt-0 Icon-package
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-music
                                                h5.mt-0 Icon-music
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-music-alt
                                                h5.mt-0 Icon-music-alt
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-mouse
                                                h5.mt-0 Icon-mouse
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-mouse-alt
                                                h5.mt-0 Icon-mouse-alt
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-money
                                                h5.mt-0 Icon-money
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-microphone
                                                h5.mt-0 Icon-microphone
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-menu
                                                h5.mt-0 Icon-menu
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-menu-alt
                                                h5.mt-0 Icon-menu-alt
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-map
                                                h5.mt-0 Icon-map
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-map-alt
                                                h5.mt-0 Icon-map-alt
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-location-pin
                                                h5.mt-0 Icon-location-pin
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-light-bulb
                                                h5.mt-0 Icon-light-bulb
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-info
                                                h5.mt-0 Icon-info
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-infinite
                                                h5.mt-0 Icon-infinite
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-id-badge
                                                h5.mt-0 Icon-id-badge
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-hummer
                                                h5.mt-0 Icon-hummer
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-home
                                                h5.mt-0 Icon-home
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-help
                                                h5.mt-0 Icon-help
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-headphone
                                                h5.mt-0 Icon-headphone
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-harddrives
                                                h5.mt-0 Icon-harddrives
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-harddrive
                                                h5.mt-0 Icon-harddrive
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-gift
                                                h5.mt-0 Icon-gift
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-game
                                                h5.mt-0 Icon-game
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-filter
                                                h5.mt-0 Icon-filter
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-files
                                                h5.mt-0 Icon-files
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-file
                                                h5.mt-0 Icon-file
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-zip
                                                h5.mt-0 Icon-zip
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-folder
                                                h5.mt-0 Icon-folder
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-envelope
                                                h5.mt-0 Icon-envelope
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-dashboard
                                                h5.mt-0 Icon-dashboard
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-cloud
                                                h5.mt-0 Icon-cloud
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-cloud-up
                                                h5.mt-0 Icon-cloud-up
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-cloud-down
                                                h5.mt-0 Icon-cloud-down
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-clipboard
                                                h5.mt-0 Icon-clipboard
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-calendar
                                                h5.mt-0 Icon-calendar
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-book
                                                h5.mt-0 Icon-book
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-bell
                                                h5.mt-0 Icon-bell
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-basketball
                                                h5.mt-0 Icon-basketball
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-bar-chart
                                                h5.mt-0 Icon-bar-chart
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-bar-chart-alt
                                                h5.mt-0 Icon-bar-chart-alt
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-archive
                                                h5.mt-0 Icon-archive
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-anchor
                                                h5.mt-0 Icon-anchor
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-alert
                                                h5.mt-0 Icon-alert
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-alarm-clock
                                                h5.mt-0 Icon-alarm-clock
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-agenda
                                                h5.mt-0 Icon-agenda
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-write
                                                h5.mt-0 Icon-write
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-wallet
                                                h5.mt-0 Icon-wallet
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-video-clapper
                                                h5.mt-0 Icon-video-clapper
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-video-camera
                                                h5.mt-0 Icon-video-camera
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-vector
                                                h5.mt-0 Icon-vector
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-support
                                                h5.mt-0 Icon-support
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-stamp
                                                h5.mt-0 Icon-stamp
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-slice
                                                h5.mt-0 Icon-slice
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-shortcode
                                                h5.mt-0 Icon-shortcode
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-receipt
                                                h5.mt-0 Icon-receipt
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-pin2
                                                h5.mt-0 Icon-pin2
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-pin-alt
                                                h5.mt-0 Icon-pin-alt
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-pencil-alt2
                                                h5.mt-0 Icon-pencil-alt2
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-eraser
                                                h5.mt-0 Icon-eraser
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-more
                                                h5.mt-0 Icon-more
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-more-alt
                                                h5.mt-0 Icon-more-alt
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-microphone-alt
                                                h5.mt-0 Icon-microphone-alt
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-magnet
                                                h5.mt-0 Icon-magnet
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-line-double
                                                h5.mt-0 Icon-line-double
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-line-dotted
                                                h5.mt-0 Icon-line-dotted
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-line-dashed
                                                h5.mt-0 Icon-line-dashed
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-ink-pen
                                                h5.mt-0 Icon-ink-pen
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-info-alt
                                                h5.mt-0 Icon-info-alt
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-help-alt
                                                h5.mt-0 Icon-help-alt
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-headphone-alt
                                                h5.mt-0 Icon-headphone-alt
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-gallery
                                                h5.mt-0 Icon-gallery
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-face-smile
                                                h5.mt-0 Icon-face-smile
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-face-sad
                                                h5.mt-0 Icon-face-sad
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-credit-card
                                                h5.mt-0 Icon-credit-card
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-comments-smiley
                                                h5.mt-0 Icon-comments-smiley
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-time
                                                h5.mt-0 Icon-time
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-share
                                                h5.mt-0 Icon-share
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-share-alt
                                                h5.mt-0 Icon-share-alt
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-rocket
                                                h5.mt-0 Icon-rocket
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-new-window
                                                h5.mt-0 Icon-new-window
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-rss
                                                h5.mt-0 Icon-rss
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-rss-alt
                                                h5.mt-0 Icon-rss-alt
                            .col-sm-12
                                .card
                                    .card-header.card-no-border.pb-0
                                        h3.m-b-0.f-w-700 Control Icons
                                    .card-body
                                        .row.icon-lists 
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-control-stop
                                                h5.mt-0  Icon-control-stop
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-control-shuffle
                                                h5.mt-0  Icon-control-shuffle
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-control-play
                                                h5.mt-0  Icon-control-play
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-control-pause
                                                h5.mt-0  Icon-control-pause
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-control-forward
                                                h5.mt-0  Icon-control-forward
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-control-backward
                                                h5.mt-0  Icon-control-backward
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-volume
                                                h5.mt-0  Icon-volume
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-control-skip-forward
                                                h5.mt-0  Icon-control-skip-forward
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-control-skip-backward
                                                h5.mt-0  Icon-control-skip-backward
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-control-record
                                                h5.mt-0  Icon-control-record
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-control-eject
                                                h5.mt-0  Icon-control-eject
                            .col-sm-12
                                .card
                                    .card-header.card-no-border.pb-0
                                        h3.m-b-0.f-w-700 Text Editor
                                    .card-body
                                        .row.icon-lists 
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-paragraph
                                                h5.mt-0  Icon-paragraph
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-uppercase
                                                h5.mt-0 Icon-uppercase
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-underline
                                                h5.mt-0 Icon-underline
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-text
                                                h5.mt-0 Icon-text
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-Italic
                                                h5.mt-0 Icon-Italic
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-smallcap
                                                h5.mt-0 Icon-smallcap
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-list
                                                h5.mt-0 Icon-list
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-list-ol
                                                h5.mt-0 Icon-list-ol
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-align-right
                                                h5.mt-0 Icon-align-right
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-align-left
                                                h5.mt-0 Icon-align-left
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-align-justify
                                                h5.mt-0 Icon-align-justify
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-align-center
                                                h5.mt-0 Icon-align-center
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-quote-right
                                                h5.mt-0 Icon-quote-right
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-quote-left
                                                h5.mt-0 Icon-quote-left
                            .col-sm-12
                                .card
                                    .card-header.card-no-border.pb-0
                                        h3.m-b-0.f-w-700 Brand Icons
                                    .card-body
                                        .row.icon-lists 
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-flickr
                                                h5.mt-0  Icon-flickr
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-flickr-alt
                                                h5.mt-0 Icon-flickr-alt
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-instagram
                                                h5.mt-0 Icon-instagram
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-google
                                                h5.mt-0 Icon-google
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-github
                                                h5.mt-0 Icon-github
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-facebook
                                                h5.mt-0 Icon-facebook
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-dropbox
                                                h5.mt-0 Icon-dropbox
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-dropbox-alt
                                                h5.mt-0 Icon-dropbox-alt
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-dribbble
                                                h5.mt-0 Icon-dribbble
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-apple
                                                h5.mt-0 Icon-apple
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-android
                                                h5.mt-0 Icon-android
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-yahoo
                                                h5.mt-0 Icon-yahoo
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-trello
                                                h5.mt-0 Icon-trello
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-stack-overflow
                                                h5.mt-0 Icon-stack-overflow
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-soundcloud
                                                h5.mt-0 Icon-soundcloud
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-sharethis
                                                h5.mt-0 Icon-sharethis
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-sharethis-alt
                                                h5.mt-0 Icon-sharethis-alt
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-reddit
                                                h5.mt-0 Icon-reddit
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-microsoft
                                                h5.mt-0 Icon-microsoft
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-microsoft-alt
                                                h5.mt-0 Icon-microsoft-alt
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-linux
                                                h5.mt-0 Icon-linux
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-jsfiddle
                                                h5.mt-0 Icon-jsfiddle
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-joomla
                                                h5.mt-0 Icon-joomla
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-html5
                                                h5.mt-0 Icon-html5
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-css3
                                                h5.mt-0 Icon-css3
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-drupal
                                                h5.mt-0 Icon-drupal
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-wordpress
                                                h5.mt-0 Icon-wordpress
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-tumblr
                                                h5.mt-0 Icon-tumblr
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-tumblr-alt
                                                h5.mt-0 Icon-tumblr-alt
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-skype
                                                h5.mt-0 Icon-skype
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-youtube
                                                h5.mt-0 Icon-youtube
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-vimeo
                                                h5.mt-0 Icon-vimeo
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-vimeo-alt
                                                h5.mt-0 Icon-vimeo-alt
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-twitter
                                                h5.mt-0 Icon-twitter
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-twitter-alt
                                                h5.mt-0 Icon-twitter-alt
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-linkedin
                                                h5.mt-0 Icon-linkedin
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-pinterest
                                                h5.mt-0 Icon-pinterest
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-pinterest-alt
                                                h5.mt-0 Icon-pinterest-alt
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-themify-logo
                                                h5.mt-0 Icon-themify-logo
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-themify-favicon
                                                h5.mt-0 Icon-themify-favicon
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i.icon-themify-favicon-alt
                                                h5.mt-0 Icon-themify-favicon-alt
                include ../../components/footer
        .icon-hover-bottom.position-fixed.fa-fa-icon-show-div
          .container-fluid
            .row
              .icon-popup
                .close-icon
                  i.fa-solid.fa-xmark
                .icon-first
                  i#icon_main.fa-2x
                .icon-class
                  label.icon-title Class
                  span#fclass1
                .icon-last.icon-last
                  label.icon-title Markup
                  .form-inline
                    .form-group
                      input#input_copy.inp-val.form-control.m-r-10(type='text', value='', readonly='readonly')
                      button.btn.btn-primary.notification(onclick='myFunction()') Copy text
        include ../../components/footer-files